<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styl.css">
    <script defer src="/scriptfolder/main.js"></script>
</head>
<body>
    <section id="index-section">
        <h1>Welcome To The Page</h1>

        <a href="http://localhost:6010/auth/google">LOgin with Google</a>


    </section>
</body>
</html>